# Checkpoints y modelos
src/checkpoints_M2/
src/__pycache__/
src/models/
src/checkpoints_M3/
src/eval/results/
checkpoints/
checkpoints_M2/
tensorboard/

# Logs de entrenamiento
src/tensorboard/
src/logs/
logs/

# Python cache
__pycache__/
.vscode/
.vscode/
src/eval/results/
src/checkpoints_M3/
src/checkpoints_*/
src/eval/results/
__pycache__/
*.pyc
